@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::after,
*::before {
	font-family: "Inter";
	transition: all 250ms ease-in-out !important;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

.content {
	max-height: 50svh;
	overflow: scroll;
}

nav .nav-link:hover {
	padding-left: 1.5rem !important;
}

.nav-active {
	padding-left: 0.75rem !important;
	border-left-width: 5px !important;
}

.text-justify {
	text-align: justify;
}

.text-small {
	font-size: 0.8rem;
}
